/* ----------------------------------------------------
	ADD CUSTOM STYLES HERE...
------------------------------------------------------- */

.c-product-name{
    font-family: 'Roboto', sans-serif!important;
    font-size: 16px;
    line-height: 20px;
    color: #666!important;
    transition: 0.3s all ease 0s;
    font-weight: normal;
    white-space: nowrap;
}

.c-product-price{
    font-family: 'Roboto', sans-serif!important;
    font-size: 17px;
    margin: 0;
    line-height: 20px;
    color: #000!important;
    transition: 0.3s all ease 0s;
    font-weight: 600;
    letter-spacing: 1px;
    white-space: nowrap;
}
